# HBASE
We use the *HappyBase* lib: https://happybase.readthedocs.io/en/latest/installation.html

In [11]:
! pip install happybase

Requirement already satisfied: happybase in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from happybase) (1.15.0)
Requirement already satisfied: thriftpy2>=0.4 in /usr/local/lib/python3.7/dist-packages (from happybase) (0.4.14)
Requirement already satisfied: ply<4.0,>=3.4 in /usr/local/lib/python3.7/dist-packages (from thriftpy2>=0.4->happybase) (3.11)

In [12]:
# imports
import happybase

In [18]:
# try to connect
server="ec2-54-155-223-96.eu-west-1.compute.amazonaws.com" #need to change this for every lab-session
connection = happybase.Connection(server)

In [19]:
print(connection.tables())

[b'mytable']

In [20]:
#connect to a table
table = connection.table('mytable')

In [21]:
#see column families
table.families()

{b'cf': {'block_cache_enabled': False,
  'bloom_filter_nb_hashes': 0,
  'bloom_filter_type': b'NONE',
  'bloom_filter_vector_size': 0,
  'compression': b'NONE',
  'in_memory': False,
  'max_versions': 3,
  'name': b'cf:',
  'time_to_live': 2147483647}}

In [23]:
#read table
res=table.scan()

In [24]:
for key,row in res:
    print(key,row)

# Ex 1
Employee data in HBASE.
* create a new table to hold the employee data -> use a distinct name, like ``user_id_employees``
* How would you create the column families?
* read data from ``employees.csv`` and put it into the table
* use batch-processing to enter more than one entry per transaction
* alter some entries of the table with ``timestamps``
* perform some sample scans for the latest entries