# HBASE
We use the *HappyBase* lib: https://happybase.readthedocs.io/en/latest/installation.html

In [1]:
! pip install happybase

Collecting happybase
  Downloading happybase-1.2.0.tar.gz (40 kB)
     |████████████████████████████████| 40 kB 2.1 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from happybase) (1.15.0)
Collecting thriftpy2>=0.4
  Downloading thriftpy2-0.4.14.tar.gz (361 kB)
     |████████████████████████████████| 361 kB 8.5 MB/s
Collecting ply<4.0,>=3.4
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.2 MB/s
Building wheels for collected packages: happybase, thriftpy2
  Building wheel for happybase (setup.py) ... done
  Created wheel for happybase: filename=happybase-1.2.0-py2.py3-none-any.whl size=26623 sha256=7272fb66b68ad896e9741458026a0e000a1fd5b66d86993279ae1a41d59d84d1
  Stored in directory: /root/.cache/pip/wheels/66/63/48/437f79a3724a4a529830f87d766a7d34228d623e845de2c321
  Building wheel for thriftpy2 (setup.py) ... done
  Created wheel for thriftpy2: filename=thriftpy2-0.4.14-cp37-cp37m-linux_x86_64.whl size=944449 sha256=1d5c0fbd22fae150e0c605a5c47a2f0d25374ffca67f2cbdbb94a5458e61f711
  Stored in directory: /root/.cache/pip/wheels/2a/f5/49/9c0d851aa64b58db72883cf9393cc824d536bdf13f5c83cff4
Successfully built happybase thriftpy2
Installing collected packages: ply, thriftpy2, happybase
Successfully installed happybase-1.2.0 ply-3.11 thriftpy2-0.4.14

In [2]:
# imports
import happybase

In [31]:
# try to connect
server="ec2-54-155-223-96.eu-west-1.compute.amazonaws.com" #need to change this for every lab-session
connection = happybase.Connection(server)

In [4]:
print(connection.tables())

[b'mytable']

In [5]:
#connect to a table
table = connection.table('mytable')

In [6]:
#see column families
table.families()

{b'cf': {'block_cache_enabled': False,
  'bloom_filter_nb_hashes': 0,
  'bloom_filter_type': b'NONE',
  'bloom_filter_vector_size': 0,
  'compression': b'NONE',
  'in_memory': False,
  'max_versions': 3,
  'name': b'cf:',
  'time_to_live': 2147483647}}

In [7]:
#read table
res=table.scan()

In [8]:
for key,row in res:
    print(key,row)

# Ex 1
Employee data in HBASE.
* create a new table to hold the employee data -> use a distinct name, like ``user_id_employees``
* How would you create the column families?
* read data from ``employees.csv`` and put it into the table
* use batch-processing to enter more than one entry per transaction
* alter some entries of the table with ``timestamps``
* perform some sample scans for the latest entries

In [32]:
connection.create_table(
    '1843_employees',
    {'name': dict(),
     'other': dict()
    }
)
table = connection.table('1843_employees')

In [33]:
import pandas as pd

df = pd.read_csv('/content/employees.csv',header=None);
df

             0             1            2           3    4             5
0        10001  '1953-09-02'     'Georgi'   'Facello'  'M'  '1986-06-26'
1        10002  '1964-06-02'    'Bezalel'    'Simmel'  'F'  '1985-11-21'
2        10003  '1959-12-03'      'Parto'   'Bamford'  'M'  '1986-08-28'
3        10004  '1954-05-01'  'Chirstian'   'Koblick'  'M'  '1986-12-01'
4        10005  '1955-01-21'    'Kyoichi'  'Maliniak'  'M'  '1989-09-12'
...        ...           ...          ...         ...  ...           ...
300019  499995  '1958-09-24'     'Dekang'  'Lichtner'  'F'  '1993-01-12'
300020  499996  '1953-03-07'       'Zito'      'Baaz'  'M'  '1990-09-27'
300021  499997  '1961-08-03'    'Berhard'    'Lenart'  'M'  '1986-04-21'
300022  499998  '1956-09-05'   'Patricia'   'Breugel'  'M'  '1993-10-13'
300023  499999  '1958-05-01'     'Sachin'   'Tsukuda'  'M'  '1997-11-30'

[300024 rows x 6 columns]

In [ ]:
for i,r in df.iterrows():
  table.put(str(r[0]), {'name:first_name': r[1],
                'name:last_name': r[2],
               'other:gender':r[3],
               'other:birthday':r[4]
               })