# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
!pip install -q condacolab

In [2]:
import condacolab 
condacolab.install()

â¬ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
ðŸ“¦ Installing...
ðŸ“Œ Adjusting configuration...
ðŸ©¹ Patching environment...
â² Done in 0:00:31
ðŸ” Restarting kernel...

In [3]:
!conda install -y pyhive sasl

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done
Solving environment: \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - pyhive
    - sasl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2021.10.8  |       ha878542_0         139 KB  conda-forge
    certifi-2021.10.8          |   py37h89c1867_2         145 KB  conda-forge
    conda-4.12.0               |   py37h89c1867_0         1.0 MB  conda-forge
    cyrus-sasl-2.1.27          |       h3274739_1         224 KB  conda-forge
    future-0.18.2              |   py37h89c1867_5         713 KB  conda-forge
    libgcc-ng-11.2.0           |      h1d223b6_16         902 KB  conda-forge
    libgomp-11.2.0             |      h1d223b6_16         428 KB  conda-forge
    libntlm-1.4                |    h7f98852_1002          32 KB  conda-forge
    openssl-1.1.1n             |       h166bdaf_0         2.1 MB  conda-forge
    pure-sasl-0.6.2            |     pyhd8ed1ab_0          13 KB  conda-forge
    pyhive-0.6.5               |     pyhd8ed1ab_0          40 KB  conda-forge
    python-dateutil-2.8.2      |     pyhd8ed1ab_0         240 KB  conda-forge
    python_abi-3.7             |          2_cp37m           4 KB  conda-forge
    sasl-0.3.1                 |   py37hcd2ae1e_0          74 KB  conda-forge
    sqlalchemy-1.3.24          |   py37h540881e_1         1.8 MB  conda-forge
    thrift-0.13.0              |   py37hcd2ae1e_2         120 KB  conda-forge
    thrift_sasl-0.4.3          |     pyhd8ed1ab_1          12 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.0 MB

The following NEW packages will be INSTALLED:

  cyrus-sasl         conda-forge/linux-64::cyrus-sasl-2.1.27-h3274739_1
  future             conda-forge/linux-64::future-0.18.2-py37h89c1867_5
  libntlm            conda-forge/linux-64::libntlm-1.4-h7f98852_1002
  pure-sasl          conda-forge/noarch::pure-sasl-0.6.2-pyhd8ed1ab_0
  pyhive             conda-forge/noarch::pyhive-0.6.5-pyhd8ed1ab_0
  python-dateutil    conda-forge/noarch::python-dateutil-2.8.2-pyhd8ed1ab_0
  sasl               conda-forge/linux-64::sasl-0.3.1-py37hcd2ae1e_0
  sqlalchemy         conda-forge/linux-64::sqlalchemy-1.3.24-py37h540881e_1
  thrift             conda-forge/linux-64::thrift-0.13.0-py37hcd2ae1e_2
  thrift_sasl        conda-forge/noarch::thrift_sasl-0.4.3-pyhd8ed1ab_1

The following packages will be UPDATED:

  ca-certificates                      2020.12.5-ha878542_0 --> 2021.10.8-ha878542_0
  certifi                          2020.12.5-py37h89c1867_1 --> 2021.10.8-py37h89c1867_2
  conda                                4.9.2-py37h89c1867_0 --> 4.12.0-py37h89c1867_0
  libgcc-ng                               9.3.0-h2828fa1_18 --> 11.2.0-h1d223b6_16
  libgomp                                 9.3.0-h2828fa1_18 --> 11.2.0-h1d223b6_16
  openssl                                 1.1.1j-h7f98852_0 --> 1.1.1n-h166bdaf_0
  python_abi                                    3.7-1_cp37m --> 3.7-2_cp37m



Downloading and Extracting Packages
conda-4.12.0         | 1.0 MB    | : 100% 1.0/1 [00:00<00:00,  2.82it/s]
python-dateutil-2.8. | 240 KB    | : 100% 1.0/1 [00:00<00:00, 14.72it/s]
libgcc-ng-11.2.0     | 902 KB    | : 100% 1.0/1 [00:00<00:00,  5.99it/s]
libgomp-11.2.0       | 428 KB    | : 100% 1.0/1 [00:00<00:00, 10.09it/s]
ca-certificates-2021 | 139 KB    | : 100% 1.0/1 [00:00<00:00, 20.31it/s]
openssl-1.1.1n       | 2.1 MB    | : 100% 1.0/1 [00:00<00:00,  2.75it/s]
pure-sasl-0.6.2      | 13 KB     | : 100% 1.0/1 [00:00<00:00, 28.16it/s]
python_abi-3.7       | 4 KB      | : 100% 1.0/1 [00:00<00:00, 28.15it/s]
libntlm-1.4          | 32 KB     | : 100% 1.0/1 [00:00<00:00, 26.57it/s]
sqlalchemy-1.3.24    | 1.8 MB    | : 100% 1.0/1 [00:00<00:00,  2.04it/s]
cyrus-sasl-2.1.27    | 224 KB    | : 100% 1.0/1 [00:00<00:00,  9.59it/s]
certifi-2021.10.8    | 145 KB    | : 100% 1.0/1 [00:00<00:00, 17.65it/s]
thrift-0.13.0        | 120 KB    | : 100% 1.0/1 [00:00<00:00,  9.09it/s]
future-0.18.2        | 713 KB    | : 100% 1.0/1 [00:00<00:00,  4.91it/s]
pyhive-0.6.5         | 40 KB     | : 100% 1.0/1 [00:00<00:00, 15.16it/s]
sasl-0.3.1           | 74 KB     | : 100% 1.0/1 [00:00<00:00, 13.35it/s]
thrift_sasl-0.4.3    | 12 KB     | : 100% 1.0/1 [00:00<00:00, 24.11it/s]
Preparing transaction: | done
Verifying transaction: - \ | done
Executing transaction: - \ | / - \ | / done

In [1]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [2]:
# try to connect
server="ec2-54-155-223-96.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [3]:
#show our databases
cursor.execute('show databases')

In [4]:
#get data from execution
cursor.fetchall()

[('default',)]

In [5]:
#use default db
cursor.execute('use default')

In [6]:
#show tables in db
cursor.execute('show tables')

In [7]:
cursor.fetchall()

[('employee',), ('salary',)]

In [8]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [9]:
#select data
cursor.execute('select * from employee')

In [10]:
#get daata from selction
employee = cursor.fetchall()

In [11]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [12]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [13]:
#select data
cursor.execute('select * from salary')

In [14]:
#get daata from selction
salary = cursor.fetchall()

In [15]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [18]:
cursor.execute("SELECT * from employee order by family_name")

In [19]:
cursor.fetchall()[:10]

[(55985, None, "'Ung'", "'Aamodt'", "'", None),
 (484934, None, "'Magy'", "'Aamodt'", "'", None),
 (481972, None, "'Bikash'", "'Aamodt'", "'", None),
 (276963, None, "'Maik'", "'Aamodt'", "'", None),
 (82381, None, "'Weiyi'", "'Aamodt'", "'", None),
 (487598, None, "'Alexius'", "'Aamodt'", "'", None),
 (266651, None, "'Aleksander'", "'Aamodt'", "'", None),
 (244716, None, "'Subhash'", "'Aamodt'", "'", None),
 (463875, None, "'Tonny'", "'Aamodt'", "'", None),
 (249077, None, "'Uinam'", "'Aamodt'", "'", None)]

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [20]:
cursor.execute("SELECT family_name, salary from employee,salary where employee.employee_id=salary.employee_id order by salary")
data=cursor.fetchall()

In [22]:
data[:100]

[("'Unno'", 38735),
 ("'Narwekar'", 38812),
 ("'Langford'", 38836),
 ("'Biran'", 38850),
 ("'Syang'", 38851),
 ("'Unno'", 38859),
 ("'Reinhard'", 38874),
 ("'Copas'", 38888),
 ("'Perri'", 38928),
 ("'Rosis'", 39006),
 ("'Narwekar'", 39012),
 ("'Cooke'", 39020),
 ("'Kushnir'", 39035),
 ("'Limongiello'", 39036),
 ("'Hoogerwoord'", 39046),
 ("'Schauser'", 39050),
 ("'Onuegbe'", 39054),
 ("'Langford'", 39060),
 ("'Zhang'", 39062),
 ("'Kushnir'", 39063),
 ("'Backhouse'", 39066),
 ("'Narwekar'", 39069),
 ("'Bail'", 39072),
 ("'Butner'", 39089),
 ("'Navazio'", 39098),
 ("'Fritzsche'", 39105),
 ("'Cincotta'", 39117),
 ("'Seiwald'", 39119),
 ("'Cesareni'", 39120),
 ("'Erdmenger'", 39124),
 ("'Gomatam'", 39127),
 ("'Tomescu'", 39128),
 ("'Mamelak'", 39128),
 ("'Reeken'", 39129),
 ("'Ozeki'", 39142),
 ("'Masamoto'", 39143),
 ("'Brizzi'", 39143),
 ("'McFarlin'", 39146),
 ("'Peac'", 39146),
 ("'Uchoa'", 39161),
 ("'Harbusch'", 39166),
 ("'Griswold'", 39166),
 ("'Ambroszkiewicz'", 39171),
 ("'Zuberek'", 39177),
 ("'Dulin'", 39182),
 ("'Gruenwald'", 39183),
 ("'Marrakchi'", 39186),
 ("'Broder'", 39187),
 ("'Ernst'", 39192),
 ("'Yoshizawa'", 39198),
 ("'Anick'", 39201),
 ("'Spell'", 39205),
 ("'Garigliano'", 39212),
 ("'Jullig'", 39216),
 ("'Hegner'", 39217),
 ("'Copas'", 39221),
 ("'Zirintsis'", 39222),
 ("'Kusakabe'", 39225),
 ("'Pelc'", 39229),
 ("'Biran'", 39230),
 ("'Sankaranarayanan'", 39236),
 ("'Farrel'", 39236),
 ("'Beutelspacher'", 39239),
 ("'Schaft'", 39246),
 ("'Basawa'", 39250),
 ("'Pavlopoulou'", 39251),
 ("'Chimia'", 39253),
 ("'Luef'", 39254),
 ("'Schieder'", 39256),
 ("'Erez'", 39257),
 ("'Cincotta'", 39259),
 ("'Birsak'", 39260),
 ("'Lindqvist'", 39264),
 ("'Benzmuller'", 39265),
 ("'Erni'", 39266),
 ("'Unni'", 39267),
 ("'Syang'", 39270),
 ("'Henders'", 39271),
 ("'Narwekar'", 39273),
 ("'Ashish'", 39274),
 ("'Reinhard'", 39275),
 ("'Soicher'", 39279),
 ("'Peot'", 39280),
 ("'Lamparter'", 39281),
 ("'Skrikant'", 39282),
 ("'Mullainathan'", 39283),
 ("'Turnbull'", 39285),
 ("'Ramalingam'", 39289),
 ("'Roison'", 39291),
 ("'Skrikant'", 39294),
 ("'Verhoeff'", 39295),
 ("'Swiss'", 39300),
 ("'Pehl'", 39301),
 ("'Douceur'", 39301),
 ("'Langford'", 39303),
 ("'Seiwald'", 39307),
 ("'Chachaty'", 39313),
 ("'Brookner'", 39314),
 ("'Dechter'", 39319),
 ("'Stifter'", 39321)]

## Ex 3
Get the average salary by gender. Hint: use Group by

In [23]:
cursor.execute("SELECT employee2.gender,avg(salary) from employee2,salary where employee2.employee_id=salary.employee_id group by employee2.gender")
cursor.fetchall()

[("'F'", 63760.08469915328), ("'M'", 63758.86649934126)]