# Assignment: NY Taxi Fare Prediction with DASK

* Note: see [NY Taxi Usecase Notebook](https://colab.research.google.com/github/keuperj/DataEngineering22/blob/main/week_8/UseCase_NY_Taxi.ipynb) for an discription of a non-parallel solution

* NY Taxi Fare Prediction Task + Data: https://www.kaggle.com/c/new-york-city-taxi-fare-prediction/overview

In [1]:
#in colab, we need to clone the data from the repo
!git clone https://github.com/keuperj/DATA.git
path='DATA'

Cloning into 'DATA'...
remote: Enumerating objects: 101, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 101 (delta 2), reused 14 (delta 2), pack-reused 87
Receiving objects: 100% (101/101), 146.44 MiB | 10.64 MiB/s, done.
Resolving deltas: 100% (23/23), done.
Checking out files: 100% (69/69), done.

In [7]:
#read data to Pandas DF
import pandas as pd
data=pd.read_csv(path+"/NY_taxi_train_small.csv")
y=data['fare_amount']
X=data.drop(['fare_amount'],axis=1)

In [9]:
X.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2014-03-12 17:04:30.0000001,2014-03-12 17:04:30 UTC,-73.956721,40.767081,-73.989080,40.772745,1
1,2009-04-17 21:59:00.00000044,2009-04-17 21:59:00 UTC,-73.870913,40.773722,-73.996285,40.716018,2
2,2009-10-06 13:42:00.00000015,2009-10-06 13:42:00 UTC,-73.976258,40.751410,-73.984795,40.751305,3
3,2012-05-02 21:38:39.0000004,2012-05-02 21:38:39 UTC,-73.977940,40.752586,-73.976525,40.667005,1
4,2011-04-21 18:11:13.0000001,2011-04-21 18:11:13 UTC,-73.988390,40.723152,-73.984367,40.736301,1

In [10]:
y.head()

0    11.0
1    23.7
2     5.7
3    28.1
4     5.7
Name: fare_amount, dtype: float64

## Assignment:
use *DASK Dataframes* and *DASK-ML* to 
* split in train and test data
* build a pre-processing,
* feature extraction and 
* prediction pipeline 

to predict the taxi fares. 

### Use
* local DASK cluster
* [DASK DataFrames](https://examples.dask.org/dataframe.html)
* [DASK-ML](https://ml.dask.org/)

### Hints:
* start with a very simple, but working predicten and then enhance the solution with better pre-processing and features

In [ ]:
# install 
!pip install distributed "dask[complete]" dask-ml graphviz --ignore-installed

In [ ]:
# Cluster setup
from dask.distributed import Client, LocalCluster
cluster = LocalCluster()
client = Client(cluster)

In [ ]:
#get client info
client

In [ ]:
import dask.dataframe as dd
import dask.array as da